[submodule "riscv-binutils"]
	path = riscv-binutils
	url = ../riscv-binutils-gdb.git
	shallow = true
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = ../riscv-gcc.git
	shallow = true
# [submodule "riscv-glibc"]
# 	path = riscv-glibc
# 	url = ../riscv-glibc.git
# 	shallow = true
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = ../riscv-newlib.git
	shallow = true